*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background: linear-gradient(89deg, rgba(5, 105, 97, 0.253) 0%, rgb(28, 121, 98) 100%);
    color: white;
}

.logo{
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.mobile-menu-icon{
    display: none;
}

@media  screen and (max-width: 700px) {
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }
}